EDO_Observability_Pipeline/EDO_Observability_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Sales_Intelligence_LH":{"type":"string"}},"variables":{},"resources":[{"name":"EDO_Observability_Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Notebook_Bronze_to_Silver","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"c7031c3a-c78f-4f61-a25f-be82e295fbe1","workspaceId":"3ccd87c1-d563-48ed-a105-af890b33bb89","parameters":{"DATASET_NAME":{"value":{"value":"@item().dataset_name","type":"Expression"},"type":"string"}}}},{"name":"Notebook_Silver_to_Gold","type":"TridentNotebook","dependsOn":[{"activity":"Notebook_Bronze_to_Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"cf90aaa4-ce89-4522-ba21-7c0676ba1b7d","workspaceId":"3ccd87c1-d563-48ed-a105-af890b33bb89","parameters":{"DATASET_NAME":{"value":{"value":"@item().dataset_name","type":"Expression"},"type":"string"}}}},{"name":"Notebook_EDO_Validation_Engine","type":"TridentNotebook","dependsOn":[{"activity":"Notebook_Silver_to_Gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"61315042-6337-405f-bd01-a94a3f319b73","workspaceId":"3ccd87c1-d563-48ed-a105-af890b33bb89","parameters":{"DATASET_NAME":{"value":{"value":"@item().dataset_name","type":"Expression"},"type":"string"}}}}]}},{"name":"Lookup1","description":"","type":"Lookup","dependsOn":[{"activity":"Register Datasets Notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Sales_Intelligence_LH","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"3ccd87c1-d563-48ed-a105-af890b33bb89","artifactId":"[parameters('Sales_Intelligence_LH')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"dataset_registry"}}}},{"name":"Register Datasets Notebook","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"8f577c6c-9954-41ae-a73c-526ba4ab29de","workspaceId":"3ccd87c1-d563-48ed-a105-af890b33bb89"}}],"lastModifiedByObjectId":"c68d3df1-dfc6-4b65-948f-2ddc33000b91","lastPublishTime":"2026-06-02T10:40:57Z"},"dependsOn":[]}]}